<div *ngIf="!selectedBudget">
  <h2 mat-dialog-title>Clases de {{project.projectName}}</h2>
  
  <section style="height: 400px; width: 100%;" class="project-container" fxLayout="column" fxLayoutAlign="start start">
    <div fxLayout="row" fxLayoutAlign="center top" fxLayoutGap="1em" style="width: 100%;">
      
      <div *ngIf="!selectedBudget" fxFlex="100" fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="1em">
        <div fxLayout="column">
          <span>{{project.projectDescription}}</span>
        </div>
        <div fxLayout="column" style="width: 100%">
          <h3>Propuestas</h3>
  
          <ul class="budget-list">
            <li class="budget-item" *ngFor="let budget of budgets" (click)="onBudgetSelected(budget)" fxLayoutAlign="space-between center" fxFlex>
              <div fxLayout="column">
                <p class="budget-name">{{budget.firstName}} {{budget.lastName}}</p>
                <i class="budget-amount">{{budget.amount | currency}}</i>
              </div>
              <mat-icon>keyboard_arrow_right</mat-icon>
            </li>
          </ul>
        </div>  
      </div>
  
    </div>
  </section>
</div>

<div *ngIf="selectedBudget" class="budget-detail">
  <h2 mat-dialog-title>Propuesta de Clase</h2>

  <section style="height: 400px; width: 100%;" class="project-container" fxLayout="column" fxLayoutAlign="start start">
    <div fxLayout="column" fxLayoutAlign="center top" fxLayoutGap="1em" style="width: 100%;">
      <div fxLayout="row" fxLayoutAlign="space-between center">
        <div>
          <small *ngIf="selectedBudget.sexCode === 'M'">Profesor</small>
          <small *ngIf="selectedBudget.sexCode !== 'M'">Profesora</small>
          <h3>{{selectedBudget.firstName}} {{selectedBudget.lastName}}</h3>
        </div>
        <div>
          <span>{{selectedBudget.amount | currency}}</span> <br> 
          <small>por hora</small>
        </div>
      </div>
      <span>
        {{selectedBudget.comments}}
      </span>

      <agm-map 
        [latitude]="parseFloat(selectedBudget.lat)"
        [longitude]="parseFloat(selectedBudget.lng)"
        [zoom]="14"
        [disableDefaultUI]="true"
        [zoomControl]="false"
        class="map"
        style="height: 200px">
        
        <agm-circle [latitude]="parseFloat(selectedBudget.lat + 0.03)" [longitude]="parseFloat(selectedBudget.lng)" 
            [radius]="400"
            [fillColor]="'#e91e63'"
            [circleDraggable]="false"
            [editable]="false">
        </agm-circle>

      </agm-map>

      <!-- <iframe class="map" src="http://maps.google.com/?q=-34.6065667,-58.3844965" 
        width="100%" height="250"
        frameborder="0" style="border:0" allowfullscreen></iframe> -->
    </div>
  </section>
</div>

<mat-dialog-actions fxLayoutAlign="end center" fxLayoutGap="1em">
  <button mat-button *ngIf="!selectedBudget" color="accent" type="button" (click)="close()">CERRAR</button>
  <button mat-button *ngIf="selectedBudget" color="accent" type="button" (click)="selectedBudget = null">VOLVER</button>
  <button mat-raised-button *ngIf="selectedBudget" color="accent" type="button">TOMAR CLASE</button>
  <!-- <button mat-raised-button type="submit" [disabled]="!form.valid" color="accent">CREAR</button> -->
</mat-dialog-actions>