<h2 mat-dialog-title>Clases de {{project.projectName}}</h2>
<section style="height: 400px;" class="project-container" fxLayout="column" fxLayoutAlign="start start">
  <div fxLayout="row" fxLayoutAlign="center top" fxLayoutGap="1em">
    
    <div *ngIf="!selectedBudget" fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="1em">
      <div fxLayout="column">
        <span>{{project.projectDescription}}</span>
      </div>
      <div fxLayout="column">
        <strong>Propuestas</strong>
        <mat-list>
          <mat-list-item *ngFor="let budget of budgets" (click)="onBudgetSelected(budget)">
            <div fxLayoutAlign="space-between center">
              <h3 matLine> {{budget.firstName}} {{budget.lastName}} </h3>
              <mat-icon>keyboard_arrow_right</mat-icon>
            </div>
          </mat-list-item>
        </mat-list>
      </div>  
    </div>

    <div *ngIf="selectedBudget">
      <h3>Propuesta de {{selectedBudget.firstName}} {{selectedBudget.lastName}}</h3>
      <mat-list>
        <mat-list-item>
          Honorarios: {{selectedBudget.amount | currency}}
        </mat-list-item>
      </mat-list>
    </div>
  </div>
</section>

<mat-dialog-actions fxLayoutAlign="end center" fxLayoutGap="1em">
  <button mat-button *ngIf="!selectedBudget" color="accent" type="button" (click)="close()">CERRAR</button>
  <button mat-button *ngIf="selectedBudget" color="accent" type="button" (click)="selectedBudget = null">VOLVER</button>
  <button mat-raised-button *ngIf="selectedBudget" color="accent" type="button">TOMAR CLASE</button>
  <!-- <button mat-raised-button type="submit" [disabled]="!form.valid" color="accent">CREAR</button> -->
</mat-dialog-actions>