<div *ngIf="!selectedBudget">
  <h2 mat-dialog-title>Clases de {{project.projectName}}</h2>
  
  <section style="min-height: 400px; width: 100%;" class="project-container" fxLayout="column" fxLayoutAlign="start start">
    <div fxLayout="row" fxLayoutAlign="center top" fxLayoutGap="1em" style="width: 100%;">
      
      <div *ngIf="!selectedBudget" fxFlex="100" fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="1em">
        <div fxLayout="column">
          <span>{{project.projectDescription}}</span>
        </div>
        <div *ngIf="project.projectStatusID == 1" fxLayout="column" style="width: 100%">
          <h3>Propuestas</h3>
  
          <ul class="budget-list">
            <ng-container *ngFor="let budget of budgets">
              <li class="budget-item" [ngClass]="{'disabled': budget.budgetStatusID != 1}" (click)="onBudgetSelected(budget)" fxLayoutAlign="space-between center" fxFlex>
                <div fxLayout="column">
                  <p class="budget-name">{{budget.firstName}} {{budget.lastName}}</p>
                  <i class="budget-amount">{{budget.amount | currency}}<span *ngIf="budget.budgetStatusID != 1"> | RECHAZADA</span></i>
                </div>
                <mat-icon>keyboard_arrow_right</mat-icon>
              </li>
            </ng-container>
          </ul>
        </div>  

        <ng-container *ngIf="project.projectStatusID != 1">
          <div *ngFor="let budget of budgets" fxShow="budget.budgetStatusID == 2" fxLayout="column" fxLayoutAlign="center top" fxLayoutGap="1em" style="width: 100%;">
            <div fxLayout="row" fxLayoutAlign="space-between center">
              <div>
                <small *ngIf="budget.sexCode === 'M'">Profesor</small>
                <small *ngIf="budget.sexCode !== 'M'">Profesora</small>
                <h3>{{budget.firstName}} {{budget.lastName}}</h3>
              </div>
              <div>
                <span>{{budget.amount | currency}}</span> <br> 
                <small>por hora</small>
              </div>
            </div>
            <span>
              {{budget.comments}}
            </span>
            <p>
              Dirección: {{budget.streetAddress}}
            </p>
          </div>
        </ng-container>
      </div>
  
    </div>
  </section>
</div>

<div *ngIf="selectedBudget" class="budget-detail">
  <h2 mat-dialog-title fxLayout fxLayoutAlign="start center" fxLayoutGap="1em">
    <button mat-icon-button (click)="selectedBudget = null"><i class="material-icons">keyboard_arrow_left</i></button> 
    <span>Propuesta de Clase</span>
  </h2>

  <section style="min-height: 400px; width: 100%;" class="project-container" fxLayout="column" fxLayoutAlign="start start">
    <div fxLayout="column" fxLayoutAlign="center top" fxLayoutGap="1em" style="width: 100%;">
      <div fxLayout="row" fxLayoutAlign="space-between center">
        <div class="professor">
          <small *ngIf="selectedBudget.sexCode === 'M'">Profesor</small>
          <small *ngIf="selectedBudget.sexCode !== 'M'">Profesora</small>
          <h3>{{selectedBudget.firstName}} {{selectedBudget.lastName}}</h3>
        </div>
        <div>
          <span>{{selectedBudget.amount | currency}}</span> <br> 
          <small>por hora</small>
        </div>
      </div>
      <span>
        {{selectedBudget.comments}}
      </span>

      <agm-map 
        [latitude]="parseFloat(selectedBudget.lat)"
        [longitude]="parseFloat(selectedBudget.lng)"
        [zoom]="14"
        [disableDefaultUI]="true"
        [zoomControl]="false"
        class="map"
        style="height: 200px">
        
        <agm-circle [latitude]="parseFloat(selectedBudget.lat + 0.03)" [longitude]="parseFloat(selectedBudget.lng)" 
            [radius]="400"
            [fillColor]="'#e91e63'"
            [circleDraggable]="false"
            [editable]="false">
        </agm-circle>

      </agm-map>
    </div>
  </section>
</div>

<mat-dialog-actions fxLayoutAlign="end center" fxLayoutGap="1em">
  <button mat-button *ngIf="!selectedBudget" color="accent" type="button" (click)="close()">CERRAR</button>
  <button mat-button *ngIf="selectedBudget" color="accent" type="button" (click)="answerBudget(selectedBudget, 3)">RECHAZAR</button>
  <button mat-raised-button *ngIf="selectedBudget" color="accent" type="button" (click)="answerBudget(selectedBudget, 2)">TOMAR CLASE</button>
  <!-- <button mat-raised-button type="submit" [disabled]="!form.valid" color="accent">CREAR</button> -->
</mat-dialog-actions>