<div class="container" fxLayout="row" fxLayoutAlign="center">
  <div fxLayout="column" fxFlex.xs="100%" fxFlex.sm="100%" fxFlex="500px">
    <h2>Crear Mi Cuenta</h2>
    <mat-card>
      <mat-vertical-stepper [linear]="true" (selectionChange)="onSelectionChange($event)" #stepper>
        <mat-step [optional]="false" [stepControl]="firstFormGroup">
          <form [formGroup]="firstFormGroup">
            <ng-template matStepLabel>Información de cuenta</ng-template>
              <div fxLayout="column" fxFlex="100%">
                <mat-form-field>
                  <mat-select placeholder="Quiero ser..." formControlName="userRole" required>
                    <mat-option *ngFor="let role of roles" [value]="role.roleID">{{role.roleDescription}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div fxLayout="column" fxFlex="100%">
                <mat-form-field>
                  <input matInput placeholder="Correo electrónico" formControlName="userEmail" required>
                </mat-form-field>
              </div>
              <div fxLayout="column" fxFlex="100%">
                <mat-form-field>
                    <input matInput type="password" placeholder="Contraseña" formControlName="userPassword" required>
                </mat-form-field>      
              </div>  
              <div fxLayout="column" fxFlex="100%" fxLayoutAlign="center bottom">
                  <button mat-raised-button matStepperNext color="accent">CONTINUAR</button>
              </div>          
          </form>
        </mat-step>
        <mat-step [optional]="false" [stepControl]="secondFormGroup">
          <form [formGroup]="secondFormGroup">
            <ng-template matStepLabel>Información básica</ng-template>
              <div fxLayout="column" fxFlex="100%">
                <mat-form-field>
                  <input matInput placeholder="Nombre" formControlName="firstName" required>
                </mat-form-field>                
              </div>
              <div fxLayout="column" fxFlex="100%">
                <mat-form-field>
                  <input matInput placeholder="Apellido" formControlName="lastName" required>
                </mat-form-field>
              </div>
              <div fxLayout="column" fxFlex="100%">
                <mat-form-field>
                  <input matInput placeholder="Fecha Nacimiento (dd/mm/yyyy)" formControlName="birthdate" required>
                </mat-form-field> 
              </div>
              <div fxLayout="column" fxFlex="100%">
                <mat-form-field>
                  <mat-select placeholder="Sexo" formControlName="sexID" required>
                    <mat-option *ngFor="let sexType of sexTypes" [value]="sexType.sexID">{{sexType.SexName}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>              
              <div fxLayout="column" fxFlex="100%">
                <mat-form-field>
                  <input matInput placeholder="Código de area" formControlName="areaCode" required>
                </mat-form-field> 
              </div>                              
              <div fxLayout="column" fxFlex="100%">
                <mat-form-field>
                  <input matInput placeholder="Teléfono" formControlName="phoneNumber" required>
                </mat-form-field> 
              </div>                                              
              <div fxLayout="column" fxFlex="100%" fxLayoutAlign="center bottom">
                  <button mat-raised-button matStepperNext color="accent">CONTINUAR</button>
              </div>          
          </form>
        </mat-step>        
        <mat-step [optional]="false" [stepControl]="thirdFormGroup">
          <form [formGroup]="thirdFormGroup">
            <ng-template matStepLabel>Información de úbicación</ng-template>
              <div fxLayout="column" fxFlex="100%">
                <mat-form-field>
                  <mat-select placeholder="Provincia" formControlName="stateProvinceID" (selectionChange)="onChangeStateProvince()" required>
                    <mat-option *ngFor="let stateProvince of stateProvinces" [value]="stateProvince.stateProvinceID">{{stateProvince.stateProvinceName}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div fxLayout="column" fxFlex="100%">
                <mat-form-field>
                  <mat-select placeholder="Ciudad" formControlName="cityID" required>
                    <mat-option *ngFor="let city of cities" [value]="city.cityID">{{city.cityName}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div fxLayout="column" fxFlex="100%">
                <mat-form-field>
                  <input matInput placeholder="Calle" formControlName="streetAddress" required>
                </mat-form-field> 
              </div>
              <div fxLayout="column" fxFlex="100%" fxLayoutAlign="center bottom">
                  <button mat-raised-button matStepperNext color="accent">CREAR CUENTA</button>
              </div>          
          </form>
        </mat-step>        
        <mat-step>
          <ng-template matStepLabel>Listo!</ng-template>
          <h3>Ha creado su cuenta</h3>
          <p>Ya puede iniciar sesión ingresando sus credenciales <a routerLink="/login">Aquí</a></p>
        </mat-step>
      </mat-vertical-stepper>  
    </mat-card>
  </div>
</div>