<div class="container" fxLayout="row" fxLayoutAlign="center">
  <div fxLayout="column" fxFlex.xs="100%" fxFlex.sm="100%" fxFlex="500px">  
    <mat-card>
      <div fxLayoutAlign="center center">
        <img src="assets/images/logo-clases-ya.png" style="width: 50%; text-align: center; padding: 1em; margin: 0 auto; display: block; max-width: 7rem;">
      </div>
      <mat-tab-group>
        <mat-tab label="Ingresar">
          <form>
            <div fxLayout="column" fxLayoutGap="0.5em" fxFlex="100%" style="margin-top: 1em;">
              <mat-form-field>
                <input matInput placeholder="Email" name="userEmail" [(ngModel)]="userEmail" required>
              </mat-form-field>
              <mat-form-field>
                <input matInput type="password" placeholder="Constraseña" name="userPassword" [(ngModel)]="userPassword" required>
              </mat-form-field>
              <button mat-raised-button color="accent" (click)="login()">Iniciar Sesión</button>
              <button mat-button color="accent" [routerLink]="['/signin/registration']">Crear una cuenta</button>
            </div>  
          </form>
        </mat-tab>
        <mat-tab label="Olvidé mi Contraseña">
          <form>
            <div fxLayout="column" fxFlex="100%" fxLayoutGap="0.5em" style="margin-top: 1em;">
              <mat-form-field>
                <input matInput placeholder="Email" name="userEmail" [(ngModel)]="userEmail" required>
              </mat-form-field>
              <button mat-raised-button color="accent">Recuperar Contraseña</button>
            </div>  
          </form>
        </mat-tab>
      </mat-tab-group>       
    </mat-card>
  </div> 
</div>
