<div class="title-container" fxLayoutAlign="space-between center">
  <h1>Solicitudes en las has aparecido</h1>
</div>

<section class="project-container" fxLayout="row wrap" fxLayoutAlign="start" fxLayoutAlign.lt-md="center">
  <mat-card *ngFor="let project of projects" (click)="openDetailDialog(project)" fxLayout="column" fxFlex.xs="100%" fxFlex="280px">
    <mat-card-header fxLayoutAlign="space-between">
      <div class="card-header" fxLayoutAlign="space-between center">
        <strong>{{project.projectName}}</strong>  
        <button class="option-button" type="button" mat-icon-button (click)="$event.stopPropagation()" [matMenuTriggerFor]="menu"><i class="material-icons">more_vert</i></button>
      </div>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="dismiss(project)">Descartar</button>
      </mat-menu>
    </mat-card-header>
    <mat-card-content>
      <p>"...{{project.projectDescription}}..."</p>
      <button mat-button *ngIf="project.budgets?.length > 0" disabled><i>Ya has enviado un presupuesto</i></button>
      <button mat-button *ngIf="project.budgets?.length == 0"><i>¡Aún no has enviado presupuesto!</i></button>
    </mat-card-content>
    <img mat-card-image fxHide.lt-md src="assets/images/person.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content fxLayoutAlign="space-between center">
      <i>Activa</i> <i>{{project.registerDate | date}}</i>
    </mat-card-content>
  </mat-card>

  <div *ngIf="projects && !projects.length" fxLayoutAlign="center center">
    Todavía no has aparecido en ninguna búsqueda.
  </div>
</section>