<header fxFlex="100" fxLayout="row" fxLayoutAlign="space-between center">
  <div class="header-menu" fxLayout fxLayoutAlign="start center">
    
    <button mat-button type="button" class="header-sector" (click)="toggleUnfold('sports')">
      <div fxLayoutAlign="center center" fxLayoutGap="5px">
        <img src="/assets/images/logo.png" style="height: 55px;">
      </div>
    </button>
  </div>

  <div fxFlex></div>

  <div class="header-menu actions" fxLayoutAlign="end center">
    <button mat-button type="button" class="header-sector" (click)="login()">
        <i class="material-icons">person_outline</i>
      <span>Iniciar sesión</span>
    </button>
    <button mat-button type="button" class="header-sector" (click)="registration()">Registrarme</button>
  </div>
</header>