<section class="project-container" fxLayout="row wrap" fxLayoutAlign="start">
  <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)" novalidate>
    <div fxLayout="row wrap" fxLayout.xs="column">
      <mat-form-field class="field" fxFlex="48" fxFlex.xs="100">
        <input matInput formControlName="projectName" placeholder="Nombre">
        <mat-error *ngIf="form.get('projectName').hasError('required')">Este campo es requerido</mat-error>
        <mat-error *ngIf="form.get('projectName').hasError('maxlength')">Debe tener menos de 50 caracteres.</mat-error>
      </mat-form-field>

      <mat-form-field class="field" fxFlex="48" fxFlex.xs="100">
        <input matInput formControlName="projectDescription" placeholder="Descripcion">
        <mat-error *ngIf="form.get('projectDescription').hasError('required')">Este campo es requerido</mat-error>
      </mat-form-field>

      <mat-form-field class="field" fxFlex="48" fxFlex.xs="100">
        <mat-select formControlName="professionID" placeholder="Profesión">
          <mat-option *ngFor="let profession of professions" [value]="profession.professionID">{{ profession.professionName }}</mat-option>
        </mat-select>
        <mat-error class="error-combo" *ngIf="form.get('professionID').touched && form.get('professionID').hasError('required')">Este campo es requerido</mat-error>
      </mat-form-field>
    </div>

    <div fxLayoutAlign="end center" fxLayoutGap="1em">
      <button mat-button color="accent" type="button" [routerLink]="['/ofertas']">CANCELAR</button>
      <button mat-raised-button type="submit" [disabled]="!form.valid" color="accent">CREAR</button>
    </div>


  </form>
</section>