<div class="title-container" fxLayoutAlign="space-between center">
  <h1>Calificar Mis Clases</h1>
</div>

<section class="reviews-container" fxLayout="row wrap" fxLayoutAlign="start" fxLayoutAlign.lt-md="center">
  <mat-accordion fxFlex>
    <mat-expansion-panel *ngFor="let review of [1,2,3]">
      <mat-expansion-panel-header>
        <mat-panel-title>Matematicas</mat-panel-title>
        <mat-panel-description>con Professor Oak</mat-panel-description>
      </mat-expansion-panel-header>
      
      <input matInput placeholder="Comentarios" />
  
      <div fxLayoutAlign="end center">
        <button mat-raised-button color="accent">¡NO ME GUSTO!</button>
        <button mat-raised-button color="accent">¡ME GUSTO!</button>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</section>