<div class="title-container" fxLayoutAlign="space-between center">
  <h1>Calificar Mis Clases</h1>
</div>

<section class="reviews-container" fxLayout="row wrap" fxLayoutAlign="start" fxLayoutAlign.lt-md="center">
  <mat-accordion fxFlex>
    <mat-expansion-panel *ngFor="let review of [1,2,3]">
      <mat-expansion-panel-header>
        <mat-panel-title>Matematicas</mat-panel-title>
        <mat-panel-description>Jul 3, 2018</mat-panel-description>
      </mat-expansion-panel-header>
      
      <p style="text-align: center;">¿Cómo calificarías la clase con <i>Samuel Oak</i>?</p>
      
      <div fxLayoutAlign="center center">
        <mat-button-toggle-group aria-label="Calificacion">
          <mat-button-toggle><i class="material-icons">sentiment_very_dissatisfied</i></mat-button-toggle>
          <mat-button-toggle><i class="material-icons">sentiment_satisfied</i></mat-button-toggle>
          <mat-button-toggle><i class="material-icons">sentiment_very_satisfied</i></mat-button-toggle>
        </mat-button-toggle-group>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</section>