<section class="project-container" fxLayout="row wrap" fxLayoutAlign="start">
  <mat-divider></mat-divider>
  <mat-card *ngFor="let project of projects" fxLayout="column" fxFlex.xs="100%" fxFlex="280px">
    <mat-card-header>
      <mat-card-title>{{project.projectName}}</mat-card-title>
      <mat-card-subtitle>Búsqueda activa desde {{project.registerDate | date:'dd/MM/yyyy'}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/images/person.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>{{project.projectDescription}}</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button mat-mini-fab>5</button>
      <button mat-button>CANCELAR BÚSQUEDA</button>
    </mat-card-actions>    
  </mat-card>
</section>