<header fxFlex="100" fxLayout="row" fxLayoutAlign="space-between center">
  <div class="header-menu" fxLayout fxLayoutAlign="start center">
    
    <button mat-button type="button" class="header-sector">
      <div fxLayoutAlign="center center" fxLayoutGap="5px">
        <img src="/assets/images/logo.png" style="height: 40px; filter: brightness(1400%) hue-rotate(58deg);">
      </div>
    </button>
  </div>

  <div fxFlex fxLayoutAlign="center center">
    <mat-button-toggle-group class="view-selector" name="nav" aria-label="Seleccion de Vista">
      <mat-button-toggle value="bold" checked><i class="material-icons">school</i></mat-button-toggle>
      <mat-button-toggle value="italic"><i class="material-icons">check_box</i></mat-button-toggle>
    </mat-button-toggle-group>
  </div>

  <div class="header-menu actions" fxLayoutAlign="end center">
    <div style="padding-right: 0.5em;">
      <button mat-button type="button" class="logout" (click)="logout()">
        <span>Cerrar Sesión</span>
      </button>
    </div>
  </div>
</header>