<h2 mat-dialog-title>Clases de {{project.projectName}}</h2>
<section style="height: 400px;" class="project-container" fxLayout="column" fxLayoutAlign="start start">
  <div fxLayout="row" fxLayoutAlign="center top" fxLayoutGap="1em"> 
    <div fxLayout="column" fxFlex="100" fxLayoutGap="1em">
      <div>{{project.projectDescription}}</div>
      <mat-divider></mat-divider>
      <p>Datos de contacto</p>
      <mat-list>
        <mat-list-item>{{project.firstName}} {{project.lastName}}</mat-list-item>
        <mat-list-item>{{project.cityName}} - {{project.stateProvinceName}}</mat-list-item>
      </mat-list>      
      <mat-divider></mat-divider>   
      <strong>Enviar propuesta</strong>
      <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)" novalidate>
        <mat-form-field class="field" fxFlex="100" style="width: 100%;">
          <textarea matInput style="height: 100px" formControlName="comments" placeholder="Escribe el mensaje que quieres enviarle"></textarea>
          <mat-error *ngIf="form.get('comments').hasError('required')">Este campo es requerido</mat-error>
          <mat-error *ngIf="form.get('comments').hasError('maxlength')">Debe tener menos de 140 caracteres.</mat-error>
        </mat-form-field>
  
        <mat-form-field class="field" fxFlex="100" style="width: 100%;">
          <input matInput formControlName="amount" type="number" placeholder="Precio por hora">
          <mat-error *ngIf="form.get('amount').hasError('required')">Este campo es requerido</mat-error>
        </mat-form-field>

        <div fxLayoutAlign="end center" fxLayoutGap="1em">
          <button mat-raised-button type="submit" [disabled]="!form.valid" color="accent">ENVIAR PRUESTO</button>
        </div>        
      </form>

    </div>  
  </div>
</section>

<mat-dialog-actions fxLayoutAlign="end center" fxLayoutGap="1em">
  <button mat-button *ngIf="!selectedBudget" color="accent" type="button" (click)="close()">CERRAR</button>
  <button mat-button *ngIf="selectedBudget" color="accent" type="button" (click)="selectedBudget = null">VOLVER</button>
  <button mat-raised-button *ngIf="selectedBudget" color="accent" type="button">TOMAR CLASE</button>
  <!-- <button mat-raised-button type="submit" [disabled]="!form.valid" color="accent">CREAR</button> -->
</mat-dialog-actions>