<h2 mat-dialog-title>{{project.projectName}}</h2>
<mat-dialog-content>
  <section class="project-container" fxLayout="column">
    <mat-tab-group>
      <mat-tab label="Búsqueda">
        <h3>Mensaje</h3>
        <div style="background-color: #efefef; border-radius: 4px; overflow: auto;">
            <p style="margin: 15px;">...{{project.projectDescription}}..."</p>
        </div>
        <p style="text-align: right; font-style: italic;">{{project.firstName}} {{project.lastName}}</p>
        <mat-divider></mat-divider>   
        <h3>Presupuesto</h3>
        <ng-container *ngIf="project?.budgets?.length == 0">
          <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)" novalidate>
            <mat-form-field class="field" fxFlex="100" style="width: 100%;">
              <textarea matInput style="height: 30px" formControlName="comments" placeholder="Escribe el mensaje que quieras enviarle"></textarea>
              <mat-error *ngIf="form.get('comments').hasError('required')">Este campo es requerido</mat-error>
              <mat-error *ngIf="form.get('comments').hasError('maxlength')">Debe tener menos de 140 caracteres.</mat-error>
            </mat-form-field>
            <mat-form-field class="field" fxFlex="100" style="width: 100%;">
              <input matInput formControlName="amount" type="number" placeholder="Precio por hora">
              <mat-error *ngIf="form.get('amount').hasError('required')">Este campo es requerido</mat-error>
            </mat-form-field>
            <div fxLayoutAlign="end center" fxLayoutGap="1em">
              <button mat-raised-button type="submit" [disabled]="!form.valid" color="accent">ENVIAR PRUESTO</button>
            </div>        
          </form>
          </ng-container>
          <ng-container *ngIf="project?.budgets?.length > 0">
            <div style="background-color: #efefef; border-radius: 4px; overflow: auto;">
                <p style="margin: 15px;">
                  "...{{project.budgets[0].comments}}..."
                  <br />
                  <br />
                  {{project.budgets[0].amount | currency}}
                </p>
            </div>
            <p style="text-align: right; font-style: italic;">Tú</p>
          </ng-container>
      </mat-tab>
      <mat-tab label="Ubicación">
        <h3>{{project.cityName}} - {{project.stateProvinceName}}</h3>
        <agm-map  
        [latitude]="getProjectLat()"
        [longitude]="getProjectLng()"
        [zoom]="14"
        [disableDefaultUI]="true"
        [zoomControl]="false"
        class="map" style="height: 200px">
          <agm-circle [latitude]="getProjectLat()" [longitude]="getProjectLng()" 
              [radius]="400"
              [fillColor]="'#e91e63'"
              [circleDraggable]="false"
              [editable]="false">
          </agm-circle>        
        </agm-map>  
      </mat-tab>
    </mat-tab-group>  
  </section>
</mat-dialog-content>
<mat-dialog-actions fxLayoutAlign="end center" fxLayoutGap="1em">
  <button mat-button color="accent" type="button" (click)="close()">CERRAR</button>
</mat-dialog-actions>